<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Task Master</title>
  </head>
  <body>
    <div class="flex p-2 h-full">
      <div
        id="taskContainer"
        class="flex flex-col w-1/2 bg-purple-200 rounded gap-1 p-2"
      >
        {{range .}}
        <div
          id="divId{{.ID}}"
          class="h-full flex flex-row justify-between border-b-2 border-gray-300 p-2"
        >
          <span {{if .Completed}} class="text-gray-500" {{end}}>{{.Name}}</span>
          <div class="h-full flex gap-1 self-end text-gray-50">
            <button
              {{if
              .Completed}}
              class="bg-purple-500 w-16 px-1 h-6 text-xs rounded-lg self-end"
              {{else}}
              class="bg-gray-500 w-16 px-1 h-6 text-xs rounded-lg self-end"
              {{end}}
              hx-trigger="click"
              hx-get="/tasks/{{.ID}}/complete"
              hx-target="#divId{{.ID}}"
              hx-swap="outerHTML"
            >
              {{if .Completed}} Complete {{else}} Pending {{end}}
            </button>
            <button
              class="bg-purple-500 w-16 px-1 h-6 text-xs rounded-lg self-end"
              hx-trigger="click"
              hx-delete="/tasks/{{.ID}}/Delete"
              hx-target="#divId{{.ID}}"
              hx-swap="outerHTML"
            >
              Delete
            </button>
          </div>
        </div>
        {{end}}
      </div>
      <div class="w-1/2 flex justify-center items-center">
        <form action="/tasks" method="POST" class="flex flex-col gap-2">
          <input
            type="text"
            name="taskName"
            placeholder=" Enter text... "
            class="border rounded-l outline-none px-2 py-1 w-60"
          />
          <button
            type="submit"
            hx-include="[name='taskName']"
            hx-post="/tasks/"
            hx-target="#taskContainer"
            hx-swap="beforeend"
            class="bg-purple-500 w-20 h-7 text-sm rounded-lg"
          >
            Add Task
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
